<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />

    <title>Trump's 100 Day Plan</title>
    <meta name="description" content="A unique critical look at President elect Trump's 100
    day plan of action.  A reality check for what is both possible and right in a time of division.">

</head>

<body>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- trump -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5756591746385400"
     data-ad-slot="8256306112"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="title"><h1>A critical look at Trump's 100 day plan</h1></div>


<div id="menu">
    <a href="/">Home</a>&ensp;
{% for key,value in pages.items %}
    <a href="/sections/{{ key }}/">{{key}}</a>&ensp;

{% endfor %}
    </div>


</div>
    </section>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

<br>
<div class="post">
{% block content %}{% endblock %}
    </div>
</body>
</html>