{% extends "base_generic.html" %}


{% block content %}


<h2>What will you find here?</h2>
<p>
President elect Trump released a 100 day plan a few weeks before the November election detailing
the actions he would take in his first 100 days of office. He has labeled this plan his contract
with the American People.
</p>
<p>Here I plan to evaluate this plan for several criteria: Does he have the power to enact the plan, will
    the plan actually work to fix the problem,
and most importantly, <i>is the plan the right thing for the people.</i></p>
<h2>On Bias</h2>
<p>There has been a good bit of rather painful talk lately about bias and media.  While I
mostly believe it is overblown, I would be remiss if I did not say that <i>everyone is biased even
the media.</i></p>
<p>Yes I voted Clinton, and was vehemently against Trump, so how can I fairly review his policies?
As a scientist we are accustomed to taking multiple literature sources, often conflicting, and extracting
relevant data and finding flaws in methods. Where there are little or no sound sources we then have to
    create and apply our own hypotheses.  I apply this same thought process to how I look at Trump's policies.
I review multiple sources that compare historical precedent and predictive theory to create a logical
conclusion.</p>
<p>
<i><strong>Will my outcome be biased?  Yes, but I will try my best to be as close to the center
as humanly possible.</strong></i></p>
<h2>Who am I?</h2>
<p>
    I am a 31 year old industry chemist/software designer with a passion for doing the right thing.  I live
    to play devils advocate, so I feel I have an ability to grasp both the good and bad of any situation.  This
    healthy dose of skepticism and self debate really helps me to be able to distill what is vitally important
    in any decision.
</p><p>Politics has been a second passion of mine since before I was old enough to vote. The world is
changing (for better or worse) and I feel that our voices are people are ever more important.  I, unfortunately,
have rarely felt that I was in a position to take an active roll; hopefully soon that will change.</p>
    {% endblock %}